.cv {
  position: relative;
}

.menu {
  /* display: none; */
  background-color: antiquewhite;
  width: 100%;
  /* position: absolute; */
  padding: 0;
  position: absolute;
  z-index: 10;
}

.menu li {
  padding: 16px 0 16px 20px;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: black;
}

.menu li:hover {
  background-color: rgb(239, 184, 112);
}

.invisible {
  display: none;
}
