@import url("../bootstrap-icons/bootstrap-icons.min.css");
/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"); */


* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --btn: #eadb0a;
  --blue: #caeb25;
  --amber: #f59e0b;
  --gray: #6b7280;
  --black:black;
  --light-gray: #f9fafb;
  --button:#90C67C;
}

body{
  width: 100vw;
  overflow-x: hidden;
}