body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0 50px;
    background-color: antiquewhite;
    font-family: sans-serif;
}